/* General Styling */
html{
    scroll-behavior: smooth;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
    /* placeholder for gradient
    background-color:#f0f0f0; */
}
body, html{
    margin: 0;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.35rem;
    margin-top: 0;
}
h3{
    font-size: 1rem;
}
h4{
    font-style: italic;
    font-weight: normal;
    margin: 0;
}
p{
    font-size: .9rem;
}
.section{
    background-color: white;
    padding: 20px 0px 50px 0px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 1px #9f9f9f solid;
}

/* Project Styling */
.tags{
    color: #9f9f9f;
}
img{
    object-fit: cover;
    width: 100%;
    height: 550px;
}
.intro-text{
    display: flex;
    margin-bottom: 30px;
}
.intro-text>.right{
    width: 50%;
    margin-left: auto;
    margin-right: 20px;
}
.main-text{
    display: flex;
    margin-top: 30px;
}
.main-text>.left{
    width: 40%;
    margin-right: 2%;
}
.main-text>.right{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: 0;
}
.main-text>.right>img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px; 
}
#tall{
    height: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: 0;
}
p>a{
    font-weight: bold;
}
.anchor{
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

/* Summary Stying */
#summary{
    display: flex;
}
#summary>img{
    width: 20%;
    height: auto;
}
#left-column{
    width:50%;
    padding-right: 30px;
}
#button-cont{
    padding-top: 15px;
}
.button{
    border-radius: 15px;
    margin-right: 5px;
    font-size: 1rem;
    background-color: #F04646;
    color: white;
    border: 1px white solid;
    padding: 6px 10px 6px 10px; 
}
.button:visited{
    color: white;
}
.button:hover{
    color: #F04646;
    background-color: white;
    border-color: #F04646;
}
#right-column{
    width: 40%;
    /* width:20%; */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
}
#row-2, #row-3{
    margin-top: 2.5px;
}
#row-1, #row-2{
    margin-bottom: 2.5px;
}
#row-1>img{
    width:100%;
    /* height:100px; */
    height:200px;
}
/* #row-2>img{
    /* width:49.5%; */
    /* width: 48%; */
    /* height:220px; */
    /* height: 110px; */
/* }   */

#row-3>img{
    width:32.7%;
    /* width: 31%;
    height: 125px; */
    height:250px;
}


/* Top Nav Styling */
header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 9%;
    padding-right: 9%;
}
nav{
    display: flex;
    height: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}
a{
    padding: 5px;
    text-decoration: none;
    height:fit-content;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: #F04646;
}


/* Project Menu Styling */
.project-container{
    display: flex;
    flex-wrap: wrap;
}
.project{
    width: 23%;
    height: auto;
    padding: 0;
    margin: .5%;
    position: relative;
}
.preview{
    width: 100%;
    height: auto;
    padding: 0;
    margin: .5%;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0,0,0,.3);
}
.project>img{
    height: 300px;
    display: block;
}
.project:hover .overlay, .preview:hover .overlay{
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 125%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Project Navigation Menu */
.projects-nav-hidden{
    display: none;
}
.project-nav{
    display: block;
}